
@{
    ViewBag.Title = "UserHomePage";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap" rel="import" />

<style>
    *, body {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
    }

    html, body {
        height: 100%;
        background-color: #152733;
        overflow-x: hidden;
    }
</style>



<br />
<h1>Welcome to WinServiceDesk</h1>
<br />
<br />
