
@{
    ViewBag.Title = "AdminHomePage";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap" rel="import" />

<style>
    *, body {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
    }

    html, body {
        height: 100%;
        background-color: #152733;
        overflow-x: hidden;
    }
</style>

<br />
<h1>Welcome to WinServiceDesk</h1>
<br />
<br />

<iframe title="Team D Power BI Reports - Ticket Count" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=4f1ad88e-6460-42c4-959e-024476efb06d&autoAuth=true&ctid=bdcfaa46-3f69-4dfd-b3f7-c582bdfbb820&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtdXMtYy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>

<br />
<br />
<br />
<br />
<br />
<br />